<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loggin</title>
    <link rel="stylesheet" href="css/style.css">
        <script src="test.js" th:src="@{/test.js}" defer></script>
</head>
<body>
    <form method="post" action="/login">
        <h2>- www.Encuestas.com-</h2>

        <div class="input-wrap">
            <label for="pseudo">Usuario</label>
            <input  type="text" id="username" name="username" placeholder="Escribe tu Usuario" required>
            <span class="clear">x</span>
        </div>

        

        <div class="input-wrap">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Escribe tu Contraseña" required>
            <span class="clear">x</span>
        </div>

        <input type="submit" id="submit" value="INGRESAR">    </form>

    
    <script src="/js/test.js"></script>
</body>
</html>
