<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encuestas</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script src="test.js" th:src="@{/test.js}" defer></script>
</head>
<body>
    <form id="survey-form">
        <h2>- Gestiona tus Encuestas-</h2>

        <div class="mod-usuarios">
            <label for="pseudo">Modulo Usuarios</label>
            
            <input type="submit" id="submit" value="LISTAR ENCUESTAS">
            
            <span class="clear">x</span>
        </div>

        <div class="salir">
            
            
            <input type="submit" id="submit" value="SALIR">
            
            <span class="clear">x</span>
        </div>

        
        
    </form>

   

    
    <script src="test.js"></script>
</body>
</html>
